@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: montserrat;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  max-width: 4000px;
  justify-content: center;
  font-size: 14px;
  background: #4c4b4f;
  color: #FFFFFF;
}

body {
  min-height: 100vh;
  width: 100%;
}

p {
  position: relative;
  font-size: clamp(1rem, 1.43rem, 3vw);
  font-weight: 400;
  line-height: clamp(2rem, 2.8rem, 3vw);
  padding: 0.4em clamp(0em, 10em, 4vw);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-family: "Lato";
}

h1 {
  font-size: clamp(1.15rem, 2.3rem, 3vw);
  margin: auto;
  max-width: 900px;
}

h2 {
  font-size: clamp(1.1rem, 1.7rem, 3vw);
  font-weight: 500;
  padding: 1.1em;
}

header {
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  background: rgb(38, 38, 38);
  height: 50px;
  width: 100%;
  padding: 0 1.5em;
  box-shadow: 0 2px 1rem #000;
}

.header-container {
  display: flex;
  align-item: space-between;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.brand-name, .brand-title {
  display: flex;
  width: 80%;
}
.brand-name h3, .brand-title h3 {
  font-size: clamp(1rem, 1.3rem, 3vw);
}

.brand-name {
  justify-content: center;
  flex-direction: column;
}

.brand-underline {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #E0B13C 0%, #212226 60%);
}

.brand-primary {
  color: #e0b13c;
  font-weight: 400;
  font-style: italic;
}

.brand-secondary {
  font-weight: 200;
  text-shadow: 0px 0px 25px #E0B13C;
}

.hamburger {
  display: flex;
  z-index: 4;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
}

.ham-bars {
  position: relative;
  width: 1.5rem;
  height: 1px;
  background: #e0b13c;
}
.ham-bars::before, .ham-bars::after {
  position: absolute;
  content: "";
  height: 1px;
  background: #e0b13c;
}
.ham-bars::before {
  top: -5px;
  width: 2rem;
}
.ham-bars::after {
  top: 5px;
  width: 1rem;
}

.ham-vertical {
  width: 1px;
  height: 2rem;
  background: #e0b13c;
  box-shadow: 0 0 20px 1px #fff;
}

.ham-cross {
  position: relative;
  top: -10px;
  width: 1rem;
  height: 1px;
  background: #e0b13c;
  rotate: 45deg;
}
.ham-cross::after {
  position: absolute;
  content: "";
  top: 6.5px;
  left: 6.5px;
  width: 1rem;
  height: 1px;
  background: #e0b13c;
  box-shadow: 0 0 20px 1px #fff;
  rotate: 90deg;
}

.main-nav {
  position: fixed;
  z-index: 3;
  font-size: 1.2rem;
  font-weight: 200;
  top: 0;
  left: 0;
  margin-top: 3rem;
  background: rgb(38, 38, 38);
  width: 100%;
  height: 0vh;
  box-shadow: 0 50px 5rem #000;
}
.main-nav ul {
  display: none;
  padding: 1rem 0;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  list-style-type: none;
}
.main-nav ul li {
  width: 100%;
  height: 100%;
}

.active {
  height: 80vh;
}
.active ul {
  display: flex;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.current {
  color: #e0b13c;
  font-weight: 500;
}

.hero {
  position: relative;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2em;
  justify-content: center;
  max-width: 2400px;
  min-height: 495px;
  max-height: 550px;
  height: 100%;
  border-bottom: 2px solid rgb(38, 38, 38);
}
.hero picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 537px;
  position: -2;
}
.hero picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid rgb(38, 38, 38);
}

.content {
  text-align: center;
  max-width: 2400px;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0em clamp(0em, 7em, 3vw);
  min-width: 320px;
  max-width: 2400px;
  width: 100%;
  margin: auto;
}

.content-block, .content-section {
  min-width: 320px;
  max-width: 2400px;
  width: 100%;
  margin: auto;
}

.content-block {
  max-width: 850px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.content-section {
  max-width: 1000px;
}

.img-overlay {
  position: relative;
  background-color: rgba(38, 38, 38, 0.8);
  width: 100%;
}

.img-bg {
  position: relative;
  background-image: url("../images/Resized_20220427_120323.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  width: 100%;
  height: 100%;
}

.first {
  padding-top: 1.8em;
}

.main-heading {
  font-weight: 500;
  margin: 5.5em 1em 0;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.home-heading {
  font-weight: 500;
  padding: 1.6em 1em 0;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 2500px;
  min-width: 320px;
  width: 100%;
  min-height: 50px;
  z-index: 3;
  background: #403F43;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.sticky {
  position: sticky;
  z-index: 4;
  top: 50px;
  left: 0;
  min-height: 70px;
}

.inactive {
  text-decoration: line-through;
  text-decoration-color: #e0b13c;
  text-decoration-thickness: 2px;
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  background-color: rgb(38, 38, 38);
  font-size: clamp(1rem, 1.5rem, 3vw);
  padding: 0.5rem 0;
}
h4 {
  font-weight: 400;
}

.brand-footer {
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
  align-items: center;
}
.brand-footer ul {
  min-width: 10em;
  width: 100%;
  list-style-type: none;
  text-align: left;
}
.brand-footer ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-hours {
  text-align: center;
  text-decoration: underline;
}

.footer-hours, .footer-time {
  font-weight: 300;
}

.testimonial-container {
  margin: 5em auto 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0em clamp(0em, 7em, 3vw);
  min-width: 320px;
  max-width: 2400px;
  width: 100%;
}
.testimonial-container .content-block {
  text-align: left;
}

.btn {
  display: none;
  height: 50px;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 1.8em auto;
}

.line {
  background: #e0b13c;
  width: 40%;
  height: 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.diamond {
  background: #e0b13c;
  width: 18px;
  height: 18px;
  margin: 0 0.5em;
  rotate: 45deg;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.home-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-tile {
  background: #4c4b4f;
  width: 11em;
  height: 11em;
  margin: 0.5em;
}
.img-tile img {
  width: 100%;
  height: 100%;
}

.nav-divider {
  margin: auto;
}
.nav-divider .line {
  width: 25%;
}
.nav-divider .diamond {
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 700px) {
  .main-nav {
    position: fixed;
    top: 0.7em;
    left: 30%;
    max-width: 500px;
    z-index: 3;
    margin: 0;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  .main-nav ul {
    display: flex;
    flex-direction: row;
  }
  .hamburger {
    display: none;
  }
  .nav-divider .line {
    width: 10%;
  }
  .nav-divider .diamond {
    width: 5px;
    height: 5px;
  }
}/*# sourceMappingURL=main.css.map */