html
    font-size: 14px
    background: $secondary
    color: $white

p
    position: relative
    font-weight: $regular
    line-height: 28px
    padding: .4em 0

h1
    font-size: 1.15rem

h2
    font-size: 1rem
    font-weight: $medium
    padding: 1.1em
    