.tile-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    max-width: 1600px
    margin: auto
    // padding: 0 .5em
    
.img-tile
    position: relative
    background: $secondary
    width: clamp(11em, 25em, 25vw)
    height: clamp(11em, 25em, 25vw)
    margin: .5em
    img
        position: absolute
        aspect-ratio: 1
        z-index: 0
        top: 0
        left: 0
        width: 100%
        height: 100%
        max-width: 900px
        max-height: 900px
        transition-duration: 300ms
        // &:active
            top: -10%
            left: -10%
            width: 120%
            height: 120%
            z-index: 1

            box-shadow: 0 0 15px 5px $accent

            transition-duration: 300ms
.active-img
    position: fixed
    top: 1em
    z-index: 100
    width: clamp(310px, 900px, 50vw)
    height: clamp(310px, 900px, 50vw)

    box-shadow: 0 0 clamp(40em, 200em, 50vw) 30em rgba(0,0,0,.8)