header
    display: flex
    align-items: center
    background: $primary
    height: 50px
    width: 100%
    padding: 0 1.5em

.brand-name
    display: flex
    flex-direction: row
    h3
        font-size: 1rem

.brand-primary
    color: $accent
    font-style: italic

.brand-secondary
    font-weight: $light

nav
    display: none