.content
    text-align: center
    // height: 80vh

.content-container
    padding: 0em 0.75em 1.8em

.content-block
    padding: 1em .2em
    box-shadow: 0 2px 1px 0px rgba(0, 0, 0, .2)

.img-overlay
    background-color: rgba(38, 38, 38, .8)

.img-bg
    position: relative
    background-image: url("../images/Resized_20220427_120323.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: 50% 0

.first
    padding-top: 1.8em            

.main-heading
    font-weight: $medium
    margin: 5.5em 1em 0
    text-align: center
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .8)

.home-heading
    font-weight: $medium
    padding: 1.6em 1em 0
    text-align: center
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .8)


.heading
    position: relative
    z-index: 3
    background: $heading
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3)
