body {
  font-family: "Montserrat", "sans-serif";
  font-size: 32px;
  display: grid;
  background-color: black;
  color: white;
  /* min-height: 100vh; */
  /* width: 100%; */
  margin: 0;
}
h1, h2 {
  margin: 0;
}
p {
  margin: 0;
}
#background {
  position: absolute;
  content: " ";
  opacity: 0.6;
  background-image: url("../images/floor-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: block;
  z-index: -1;
}
#banner {
  margin-top: 1em;
}
#what {
  margin-top: 5em;
}


.phenomenal,
.floors,
.mission {
  text-shadow: 0px -10px 20px black;
  box-shadow: 7px 10px 20px 4px black;
}
.phenomenal {
  width: 40%;
  min-width: 29em;
}
.phenomenal h1 {
  margin: 0;
  padding-left: 2em;
}
.floors {
  width: 35%;
  min-width: 27em;
  margin: 0;
}
.floors h1 {
  margin: 0;
  padding-left: 5.5em;
}
.mission {
  width: 30%;
  min-width: 25em;
}
.mission h4 {
  margin: 0;
  padding: 0.5em 1em 0.5em;
}

.section-header {
  width: 80%;
  text-align: right;
  margin-bottom: 0;
}
.section-header h2 {
  padding-right: 1em;
}
.section-content {
  width: 75%;
  margin-top: 0;
  text-align: center;
}
.section-content p {
  padding: .5em 0;
}

.underline {
  text-decoration: underline;
}
.box-shadow {
  box-shadow: 7px 10px 20px 4px black;
}

@media screen and (max-width: 70em) {
  body {
    font-size: 1.5em;
  }
  .phenomenal,
  .floors,
  .mission {
    box-shadow: 7px 10px 20px 2px black;
  }
}

@media screen and (max-width: 45em) {
  body {
    justify-content: center;
    width: 100%;
    font-size: 1em;
  }
  p {
    font-size: .8em;
  }
  .phenomenal,
  .floors,
  .mission {
    box-shadow: 7px 10px 20px 1px black;
    min-width: 100%;
  }
  .phenomenal h1 {
    padding-left: .5em;
  }
  .floors h1 {
    padding-left: 4em;
  }
  .mission h4 {
    padding-left: .5em;
  }
  .section-header {
    padding-right: .2em;
    min-width: 100%;
  }
  .section-content {
    min-width: 100%;
  }
  .section-content p {
  }
}
