.btn, .call-btn
    // font-family: $font-lato
    background: $accent
    color: $white
    max-width: 300px
    max-height: 50px
    height: 50px
    border-radius: 10px
    width: 100%
    margin: 0 auto

.btn
    &:first-child
        margin-top: 5em
.call-btn
    margin: 0em 1em 1em

    // &:first-of-type
        // margin: 1em