body {
    font-size: 16px;
    background-color: #DEC7AD;
    display: grid;
    /* min-height: 100vh; */
    /* align-items: center; */
    justify-items: center;
}
h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}
h4 {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 300;
    color: #fff;
    margin-top: .8rem;
    padding-left: 1em;
}
main {
    border-left: 1px solid black;
    width: 54em;
}
#banner {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(6, 9em);
    border-left: 2px solid black;
}
.plank {
    background-color: #5E554A;
    height: 2em;
    padding: 0 1em;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.phenomenal-plank {
    color: #E3AC6D;
    grid-column: 1 / span 3;
}
.right-plank {
    grid-column: 4 / span 3;
    grid-row: 1;
}
.left-plank {
    grid-column: 3 / span 3;
    grid-row: 2;
    text-align: center;
}
.floors-plank {
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
}
.bottem-left-plank {
    grid-column: 1;
}
.bottem-right-plank {
    grid-column: 2 / span 3;
    text-align: end;
    padding-right: 2em;
}
.empty {
    background-color: #DEC7AD;
    grid-row: 4;
    border: none;
}